# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.cOOnsole.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kuzmenko.oleksandr\Documents\Projects\Libraries\consoleAppFramework\.idea\.idea.cOOnsole\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
